/* .card{
    
    width: 1200px;
    margin: auto;
    padding-top: 10px
} */

#card {
    margin-top: 20px;
}
/* added this */
.Header{
    background-color: #2196F3;
}
.signInText{
    color: #4A4A4A;
}


#center {
    margin: auto;
    width: 50%;
   
    
}
.center{
    margin: auto;
    width: 100%;
}


.container {
	margin: 20px;
}
