/* .card{
    
    width: 1200px;
    margin: auto;
    padding-top: 10px
} */

#card {
    margin-top: 50px;
    margin-bottom: 70px;
}
/* added this */
.Header{
    background-color: #2196F3;
}
.signInText{
    color: #4A4A4A;
}


#center {
    margin: auto;
    width: 50%;
    padding: 10px;
}




.container {
	margin: 20px;
}